body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



/*
.animate-scaleUp { animation: scaleUp 0.5s cubic-bezier(0.68,-0.55,0.27,1.55) both; }
.animate-fadeInUp { animation: fadeInUp 0.5s cubic-bezier(0.42,0,0.58,1) both; }
.animate-fadeInItem { animation: fadeInItem 0.4s both; }
.animate-bounceBtn { animation: bounceBtn 1s infinite; }

@keyframes scaleUp {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}
@keyframes fadeInItem {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: none;}
}
@keyframes bounceBtn {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(-8px);}
}
*/